<app-movie-search (search)="handleSearch($event)"></app-movie-search>

<ng-container *ngIf="movies.length > 0; else noResults">
<div class="movie" *ngFor="let movie of movies">
    <img class="poster" [src]="movie.posterUrl" alt="Movie Poster" />
    <div class="details">
      <h2>{{ movie.title }}</h2>
      <div class="info">
        <p><strong>Year:</strong> {{ movie.year }}</p>
        <p><strong>Runtime:</strong> {{ movie.runtime }} minutes</p>
        <p><strong>Genres:</strong> {{ movie.genres.join(', ') }}</p>
        <p><strong>Director:</strong> {{ movie.director }}</p>
        <p><strong>Actors:</strong> {{ movie.actors }}</p>
        <p><strong>Plot:</strong> {{ movie.plot }}</p>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noResults>
  <app-no-result></app-no-result>
</ng-template>


